@charset "windows-1251";

H1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
P {
    padding-left: 20px;
}
body {
    background-image: url("./resources/bg-picture.jpg");
    background-size: cover;
}