<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">


    <servlet>
        <servlet-name>LoginJsp</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginJsp</servlet-name>
        <url-pattern>/login-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowCoach</servlet-name>
        <jsp-file>/coach/show-coaches.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowCoach</servlet-name>
        <url-pattern>/show-coaches</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCoach</servlet-name>
        <jsp-file>/coach/add-coach.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCoach</servlet-name>
        <url-pattern>/add-coach</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCoach</servlet-name>
        <jsp-file>/coach/update-coach.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCoach</servlet-name>
        <url-pattern>/update-coach</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CoachController</servlet-name>
        <servlet-class>by.academy.web.app.CoachController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CoachController</servlet-name>
        <url-pattern>/user-coach</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <servlet-name>CoachController</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>DeleteCoach</servlet-name>
        <jsp-file>/coach/delete-coach.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteCoach</servlet-name>
        <url-pattern>/delete-coach</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SalaryCoach</servlet-name>
        <jsp-file>/coach/salary-coach.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SalaryCoach</servlet-name>
        <url-pattern>/salary-coach</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowStudents</servlet-name>
        <jsp-file>/student/show-students.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowStudents</servlet-name>
        <url-pattern>/show-students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowBand</servlet-name>
        <jsp-file>/student/show-band.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowBand</servlet-name>
        <url-pattern>/show-band</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminFeatures</servlet-name>
        <jsp-file>/admin-features.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminFeatures</servlet-name>
        <url-pattern>/admin-features</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMarks</servlet-name>
        <jsp-file>/student/update-student.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateMarks</servlet-name>
        <url-pattern>/update-student</url-pattern>
    </servlet-mapping>

</web-app>